
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  overflow-y: auto;
}

body {
  min-height: 100vh;
}

ul, ol, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul li, ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden, .hide {
  display: none;
}


body.fixed {
  overflow: hidden;
}

#overflow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5)
}
#overflow-wrapper.hidden {
  display: none !important;
}

#root {
  min-height: 100vh;
}

button.button{
  margin:4px;
  width: 40px;
  height: 40px;
  filter: grayscale(50%);
  background-size:400%;
  background-position:center;
  border-radius:50%;
  border-color:transparent;
  transition: all 100ms ease-in-out;
}
button.button:hover {
  background-size:120%;
  filter: grayscale(10%);
}
button.button span {
  opacity:1;
  transition: opacity 100ms ease-in-out;
  color: #fff;
}
button.button:hover span {
  opacity:0
}
button.button.fr{
  background-image:url('https://i.ibb.co/0Q2jMPC/fr.png');
}
button.button.en{
  background-image:url('https://i.ibb.co/6JMwR5j/en.png');
}
button.button.ru{
  background-image:url('https://i.ibb.co/hRm2d44/ru.png');
}
.langswitcher{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
}